# Estruturas básicas de linguagens de programação em Python  (Parte 1)

Um dos programas mais básicos que podemos escrever é utilizar a função ***print()*** para escrever algo na tela. 

Utilize a função na célula abaixo para escrever "Hello World"

In [3]:
print("Hello World!")

Hello World!

Você pode utilizar o símbo # para escrever comentários em seu código.

In [4]:
#eu sou um comentário.
print("Hello World") #eu sou outro comentário.

Hello World

<font color="red">***Regra de ouro para a vida 01***</font>: *Sempre comente seus códigos de forma que outra pessoa possa entender o que você quis fazer com o código.*

## Números e Operações Matemáticas

In [5]:
# Soma
4 + 4

8

In [6]:
# Subtração
4 - 3

1

In [7]:
# Multiplicação
3 * 3

9

In [8]:
# Divisão
3 / 2

1.5

In [12]:
# Potência
4 ** 2

16

In [13]:
# Módulo (Resto da divisão)
10 % 3

1

## Tipos de dados

Os computadores tratamn de maneira diferente com os diferentes tipos de dados existentes. Durante o desenvolvimento do programa é importante entender com quais tipos de dados estamos lidando de forma que eles serão executados.

Abaixo estão listados os tipos mais imporantes. Para saber qual é o tipo do dado, utilize a função ***type()***

In [14]:
#Inteiro
type(5)

int

In [15]:
#Float
type(0.03)

float

In [16]:
#Strings
type('Eu sou uma string')

str

In [17]:
#Booleanos
type(True)

bool

Em algumas situações é interessante converter um tipo de dado em outro. Por exemplo, podemos ter um texto que contém um número e desejamos realizar uma operação matemática com esse número.

In [18]:
#converter em inteiro
5 + int('10')

15

In [19]:
#converter em float
float(1)

1.0

In [20]:
#converter em booleano
bool('True')

True

In [21]:
#converter em inteiro é diferente de arredondar
int(6.8)

6

## Principais funções matemáticas

In [22]:
# Retorna o valor absoluto
abs(-8)

8

In [23]:
# Retorna o valor absoluto
abs(8)

8

In [24]:
# Retorna o valor com arredondamento
round(3.84151922,0)

4.0

In [25]:
# Potência
pow(4,2)

16

## Variáveis

Durante o desenvolvimento de programas é útil armazenar valores para serem utilizados posteriormente em outro momento da execução. Esses valores são conhecidos como *Variáveis* e podem receber diversos tipos de dados, inclusive estruturas mais complexas como listas, dicionários, dataframes,etc; Vermos mais para frente alguns deles.

Vamos testar algumas variáveis:

In [26]:
A = 1

In [27]:
print(A)

1

In [28]:
B = 1.0

In [29]:
type(B)

float

In [30]:
print(A + B)

2.0

Preste atenção na hora de definir o nome das suas variáveis, o Python diferencia Maiúsculas de minúsculas: A <> a

In [31]:
a = 3

In [32]:
print(A + a)

4

Você pode começar o nome de uma variável com letras e underline, não pode começar com números ou conter espaços.

In [33]:
__eu_sou_uma_variavel__ = ':)'

Importante, variáveis não podem ser utilizadas antes de serem definidas.

In [35]:
#Essa código está errado pois não definimos a "variaval" anteriormente
variavel

NameError: name 'variavel' is not defined

Algumas palavras são reservadas e não podem ser utilizadas como nome de variáveis. 
<img src="https://cdn.journaldev.com/wp-content/uploads/2017/05/python-keywords.png">

Note que as variáveis assumem o tipo dos dados que elas armazenam no momento:

In [36]:
type(A)

int

In [37]:
A = True
type(A)

bool

<font color="red">***Regra de ouro para a vida 02***</font>: *Em programas mais complexos é comum utilizarmos centenas de variáveis diferentes, tome cuidado com a nomeclatura de suas variáveis. Sempre que possível de nomes que signifiquem o conteúdo da variável, por exemplo: peso, area, numero_de_alunos*

## Operações com Variáveis

As operações com variáveis funcionam da mesma forma que as operações vistas anteriormente.

In [37]:
largura = 2
altura = 4
area = largura * altura
print(area)

8

In [38]:
volume = area*altura
print(volume)

32

Note que o símbolo = significa *Atribuição* e não *Igual* como estamos acostumados em matemática.

In [39]:
A = 1
print(A)
B = 2 
print(B)

1
2

In [40]:
A = B
print(A)

2

O símbolo *Igual*, no sentido matemático é mais próximo de ==

In [38]:
#Teste lógico A é igual a B?
A == B

True

## Operações com Strings (Texto)

#### O Python permite que você faça diversas manipulações em texto de forma nativa

In [39]:
#concatenar duas strings
meu_texto = 'Eu sou a frase da esquerda' + '... e Eu sou a frase da direita'
print(meu_texto)

Eu sou a frase da esquerda... e Eu sou a frase da direita

In [40]:
#você pode utilizar aspas simples '' ou duplas ""
"I love Python"

'I love Python'

In [41]:
#E pode pular linhas utilizando o caracter \n
print('Pulei\n...de linha')

Pulei
...de linha

#### Propriedades básica de strings

In [51]:
texto = 'AI is the new electricity'

In [43]:
#primeira letra
texto[0]

'A'

In [44]:
#primeiros 10 caracteres
texto[0:10]

'AI is the '

In [45]:
#último caracter
texto[-1]

'y'

In [46]:
#5 caracteres a partir do 10º caracter
texto[10:15]

'new e'

In [47]:
t = ":) "*5
print(t)

:) :) :) :) :)

#### Métodos básicos

In [52]:
# Upper Case 
texto.upper()

'AI IS THE NEW ELECTRICITY'

In [53]:
# Lower case
texto.lower()

'ai is the new electricity'

In [54]:
texto.capitalize()

'Ai is the new electricity'

In [55]:
texto = texto.capitalize()

In [56]:
texto

'Ai is the new electricity'

In [57]:
texto.count('Ai')

1

In [58]:
texto.find('n')

10

In [59]:
texto.endswith('y')

True

#### Comparando Textos

In [60]:
#Textos diferentes
print("Python" == "R")

False

In [61]:
#Textos iguais
print("Python" == "Python")

True

In [62]:
#Lembre-se sempre, letras maiúsculas são diferentes de minúsculas.
print("Python" == "python")

False

## Estruturas de dados

Estruturas de dados são nada mais do que formas de armazenarmos e organizarmos nossos dados durante a execução dos programas. Uma estrutura de dados é definida pelos seus dados e as operações permitidas. As strings são um tipo de estrutura de dados:   além de armazenar valores, também possuem operações (métodos).

Veremos os 3 tipos de dados principais do python: Listas, Tuplas e Dicionarios

### Tuplas:
Uma tupla é uma sequência de valores distinguidos de acordo
com a posição em que aparecem na tupla. Em uma tupla, os valores componentes são separados
por vírgula.

In [64]:
dupla = ('ABC',3)
tripla = (1 , True , " 1 " )

In [65]:
#tupla definida anteriormente
dupla[1]

3

In [67]:
#Retorna o primeiro elemento da tupla
dupla[1]

3

In [68]:
#número de elementos da tupla
len(tripla)

3

Uma das principais caracteristicas das tuplas é que seus valores não podem ser alterados. Ela é uma estrutura interessante para forçar a integridade de dados imutáveis

In [70]:
#Essa operação não é permitida
tripla[1] = 21

TypeError: 'tuple' object does not support item assignment

Mas cuidado, você pode atribuir uma tupla à outra

In [71]:
dupla = tripla
dupla

(1, True, ' 1 ')

Uma operação muito útil, que utilizaremos também em outros momentos (listas, cadeias de caracteres, dicionários, etc) é o teste de pertinência

In [73]:
" 1 " in tripla

True

### Listas:
Listas em Python são similares a tuplas, além de algums métodos adicionais, a diferença principal entre listas e tuplas em Python é que as listas são mutáveis, enquanto tuplas são imutáveis. Outra diferença entre tuplas e listas é que a sintaxe de listas utiliza colchetes, sendo separados também por vírgulas, como no caso de tuplas.

In [74]:
#definição de uma lista é feita atraves dos caracteres []
x = [1 ,2 ,3]

In [75]:
#você pode selecionar os caracteres como vimos anteriormente nas strings.
x[0]

1

In [76]:
#você ainda pode inserir objetos de tipos diferentes dentro das listas
lista = ["Minha lista",[9,87,6,3.0],x]
lista

['Minha lista', [9, 87, 6, 3.0], [1, 2, 3]]

In [77]:
lista[1]

[9, 87, 6, 3.0]

In [78]:
#acessar uma lista dentro de uma listas
lista[1][1]

87

In [79]:
#Nas listas podemos alterar os valores
x[0] = 99
x

[99, 2, 3]

In [80]:
lista

['Minha lista', [9, 87, 6, 3.0], [99, 2, 3]]

Alguns dos métodos mais uteis já pré-definidos para listas no python são:

In [81]:
#Insere o valor 50 na posição 2
x.insert(2,50)
x

[99, 2, 50, 3]

In [82]:
x.append(45)
x

[99, 2, 50, 3, 45]

In [83]:
y = [3,4,5,6,7,8,9,10]

In [84]:
# Concatena duas listas - Forma 1
x = x + y

In [85]:
x

[99, 2, 50, 3, 45, 3, 4, 5, 6, 7, 8, 9, 10]

In [86]:
# Concatena duas listas - Forma 2
x += y
x

[99, 2, 50, 3, 45, 3, 4, 5, 6, 7, 8, 9, 10, 3, 4, 5, 6, 7, 8, 9, 10]

In [87]:
# Concatena duas listas - Forma 3
x.extend(y)
x

[99,
 2,
 50,
 3,
 45,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10]

In [88]:
#Uma lista também pode conter uma lista 
y = [3,4,5,6,7,8,9]
x = [10,30,50,60,70,80,90]
z = [x,y]
z

[[10, 30, 50, 60, 70, 80, 90], [3, 4, 5, 6, 7, 8, 9]]

In [89]:
#remove o item da i-ésima posição
x.pop(1)
x

[10, 50, 60, 70, 80, 90]

In [90]:
#remove a primeira ocorrência do elemento
x = [10,30,90,50,60,70,80,90]
x.remove(90)
x

[10, 30, 50, 60, 70, 80, 90]

In [91]:
#conta o número de vezes que determinado valor aparece
x = [32,54,6,10,30,90,50,60,70,80,90]
x.count(90)

2

In [92]:
#ordena valores de uma lista

#Método 1
print(sorted(x,reverse=True))
#Método 2 
x = [32,54,6,10,30,90,50,60,70,80,90]
x.sort()
x

[90, 90, 80, 70, 60, 54, 50, 32, 30, 10, 6]

[6, 10, 30, 32, 50, 54, 60, 70, 80, 90, 90]

In [93]:
#teste de pertinencia
print(10 in x)

True

In [94]:
#criar cópias das listas
z = [1,2,3]
z = 3*z
z

[1, 2, 3, 1, 2, 3, 1, 2, 3]

Algumas operações matemáticas comuns:

In [95]:
print("Valor máximo da lista: {}".format(max(x)))
print("Valor mínimo da lista: {}".format(min(x)))
print("Valor da soma da lista: {}".format(sum(x)))
print("Nº de elementos da lista: {}".format(len(x)))

Valor máximo da lista: 90
Valor mínimo da lista: 6
Valor da soma da lista: 572
Nº de elementos da lista: 11

Você também pode transformar textos em listas

In [96]:
texto = 'Isso é uma string' 
texto.split()

['Isso', 'é', 'uma', 'string']

### Dicionários:
Um dicionário é uma estrutura de dados que mapeia valores de entrada, usualmente chamados de chaves, a valores de saída, onde para cada chave corresponde um  único valor de saída

In [97]:
# Isso é uma lista
estudantes_lst = ["Mateus", 24, "Fernanda", 22, "Tamires", 26, "Cristiano", 25]
estudantes_lst

['Mateus', 24, 'Fernanda', 22, 'Tamires', 26, 'Cristiano', 25]

In [98]:
# Isso é um dicionário
estudantes_dict = {"Mateus":24, "Fernanda":22, "Tamires":26, "Cristiano":25}
estudantes_dict

{'Mateus': 24, 'Fernanda': 22, 'Tamires': 26, 'Cristiano': 25}

In [99]:
estudantes_dict["Mateus"]

24

In [100]:
estudantes_dict["Mateus"] = 40
estudantes_dict["Mateus"]

40

In [101]:
#Tamanho dos dicionários
len(estudantes_dict)

4

In [102]:
#estrindo a lista de CHAVES dos dicionários
estudantes_dict.keys()

dict_keys(['Mateus', 'Fernanda', 'Tamires', 'Cristiano'])

In [103]:
#estrindo a lista de VALOREs dos dicionários
estudantes_dict.values()

dict_values([40, 22, 26, 25])

In [104]:
#juntando dois dicionários
estudantes_dict2 = {"Maria":27, "Erika":28, "Milton":26}
estudantes_dict.update(estudantes_dict2)
estudantes_dict

{'Mateus': 40,
 'Fernanda': 22,
 'Tamires': 26,
 'Cristiano': 25,
 'Maria': 27,
 'Erika': 28,
 'Milton': 26}

In [105]:
#criando novas chaves
estudantes_dict["Paulo"] = 40
estudantes_dict

{'Mateus': 40,
 'Fernanda': 22,
 'Tamires': 26,
 'Cristiano': 25,
 'Maria': 27,
 'Erika': 28,
 'Milton': 26,
 'Paulo': 40}

In [106]:
#podemos utilizar números como chaves
dic = {}
dic[1] = 'A'
dic

{1: 'A'}

In [107]:
#E também podmeos incluir outras estruturas de dados no dicionário
lista = [1,'A',[1,2,3.0]]
dic['minha_lista'] = lista
dic['dicionario_estudantes'] = estudantes_dict
dic

{1: 'A',
 'minha_lista': [1, 'A', [1, 2, 3.0]],
 'dicionario_estudantes': {'Mateus': 40,
  'Fernanda': 22,
  'Tamires': 26,
  'Cristiano': 25,
  'Maria': 27,
  'Erika': 28,
  'Milton': 26,
  'Paulo': 40}}

In [108]:
#também podemos remover itens dos nosso dicionários
dic.pop('minha_lista')
dic

{1: 'A',
 'dicionario_estudantes': {'Mateus': 40,
  'Fernanda': 22,
  'Tamires': 26,
  'Cristiano': 25,
  'Maria': 27,
  'Erika': 28,
  'Milton': 26,
  'Paulo': 40}}

<img src="https://ih0.redbubble.net/image.701756648.3377/flat,1000x1000,075,f.u4.jpg"  width="50%" height="50%">

## Exercícios

**Exercício 01** - Crie duas strings e concatene as duas em uma terceira string

In [109]:
minha_string_01 = 'Olá mundo!'
minha_string_02 = ' I Love Python!'
minha_string_03 = minha_string_01 + minha_string_02
minha_string_03

'Olá mundo! I Love Python!'

**Exercício 02** - Crie uma lista com 5 valores e imprima na tela o último elemento da lista

In [110]:
minha_lista = [1,20,23,53,42]
minha_lista[-1]

42

**Exercício 03** - Utilizando a lista1 e a lista2, adicione as duas listas em uma terceira lista chamada lista3

In [111]:
lista1 = [1,2,3,4,5,6]
lista2 = [9,8,7,6,5,4]
lista3 = [lista1,lista2]
lista3

[[1, 2, 3, 4, 5, 6], [9, 8, 7, 6, 5, 4]]

**Exercício 04** - Utilizando a lista3 criada no exercício anterior, retorne a soma dos valores contidos nas listas.

In [113]:
print('A soma dos valores da lista é: ')
sum(lista3[0]+lista3[1])

A soma dos valores da lista é:

60

**Exercício 05** - Crie um dicionário com 3 chaves e 3 valores e imprima na tela

In [114]:
dic = {'k1':1,'k2':2,'k3':3}
dic

{'k1': 1, 'k2': 2, 'k3': 3}

**Exercício 06** - Adicione mais um elemento ao dicionário criado no exercício anterior, exclua a primeira chave e imprima na tela

In [115]:
dic['k_novo'] = 100
dic.pop('k1')
dic

{'k2': 2, 'k3': 3, 'k_novo': 100}

**Exercício 07** -Utilizando o dicionáro D1, selecione o valor "Python"

In [116]:
D1 = {'key1':{'key2_aninhada':{'key3_aninhada':'Dict aninhado em Python'}}}
D1['key1']['key2_aninhada']['key3_aninhada'][-6:]

'Python'